<div>

  <h1 class="page-heading">
Welcome to Penn Effective Altruism
  </h1>
  <div id="post">

<p>
Effective Altruism is a growing global movement of people dedicated to using evidence and reason to find the most effective ways to improve the world.
Effective altruists aim to consider many possible causes and actions and then to act in a way that brings about the greatest positive impact.
</p>

<p>
Penn Effective Altruism is a community of effective altruists at Penn from a wide variety of ages and backgrounds.
We have both graduate and undergraduate members, studying subjects from philosophy to computer science.
We put on events, raise money for highly effective organizations, raise awareness for effective causes, and meet regularly to discuss ideas and socialize. 
</p>

<p>
Penn Effective Altruism is a coalition of a number of student groups on campus committed to doing good in effective ways.
Our main focus areas are:
</p>

<ul>
	<li> <a href="/gwwc">global poverty</a></li>
	<li> <a href="/animals">animal advocacy</a></li>
	<li> <a href="/fhs">the impact of technology</a></li>
	<li> <a href="/80k-hours">effective careers</a></li>
</ul>

<p>
We are also partners with <a href="/one-for-the-world">One for the World</a>, an Effective Altruist organization founded by MBA students at Wharton.
</p>

<p>
Though we sometimes disagree about the most effective way to improve the world, we are united by a key principle: using evidence and reason to guide how we do good.
To help figure out the best way to do good, we use five key questions to guide our decisions:
</p>

<ul>
	<li> How many people benefit, and by how much? </li>
	<li> Is this the most effective thing I can do? </li>
	<li> Is this area neglected? </li>
	<li> What would have happened otherwise? </li>
	<li> What are the chances of success, and how good would success be?</li>
</ul>

<h4>
Contact Information
</h4>
<p>
Rossa O'Keefe-O'Donovan
</p>

</div>
</div>
